<div class='row'>
    <h3><a href='/news/{{this.id}}/edit'>Редактировать</a></h3>
    <div
            class='col-sm'
            style='text-align: center; background-color: #ffe; display: flex; flex-direction: column'
    >
        <h3><a href='/news' class='card-link'>{{this.title}}</a></h3>
        <img src='{{this.cover}}' alt=''/>
        <span>Описание: {{this.description}}</span>
        <span>Просмотров: {{this.countView}}</span>
        <span>Автор: {{this.user.firstName}}</span>
        <a href='/news' class='card-link'>Card link</a>
    </div>
    <div class='col-sm'>
        {{#if comments}}
            {{#each comments}}
                <li id='{{this.id}}'>
                    {{#if this.logo}}
                        <img
                                src='{{this.logo}}'
                                style='border-radius: 25%; height: 100px'
                                alt="Место для Вашего лого"
                        />
                    {{/if}}
                    Author:
                    {{this.user.firstName}}
                    <br/>
                    Message:
                    {{#if this.idAnswer}}
                        <a href='#{{this.idAnswer}}'>{{this.idAnswer}}</a>{{/if}}
                    {{this.message}}
                    <br/>
                    <div onclick="sendForm({{this.id}})">X</div>
                    <button
                            id='{{this.id}}'
                            onclick='replyComment(event)'
                    >Reply
                    </button>
                </li>
            {{/each}}
        {{/if}}
        <form
                action='/comments/api/{{this.id}}'
                id='comments'
                method='post'
        >
            <input
                    style='display:none;'
                    name='idNews'
                    value='{{this.id}}'
                    readonly
            />
            <input style='display:none;' name='idAnswer' value=''/>
            <input name='message' type='text' placeholder='Message' required/>
            <button>Отправить сообщение</button>
        </form>
        <script>
            function replyComment(e) {
                const form =
                        document.querySelector("#comments");
                form.idAnswer.value = e.target.id;
                console.log('id заменен на ' + form.idAnswer.value)
            }

            function sendForm(id) {
                var data = new FormData($('form')[0]);
                $.ajax({
                    url: `/comments/api/details/${id}`,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'DELETE',
                    success: function () {
                        alert('Коммент удален')
                        window.location.reload();
                    }
                });
            }
        </script>
    </div>
</div>
