<img src='{{news.cover}}' alt='' width='570'/>

<table>
    <tr>
        <td>Название</td>
        <td>{{news.title}}</td>
        {{#if difference.title}}
            <td>Новое название новости</td>
            <td>{{difference.title}}</td>
        {{/if}}
    </tr>
    <tr>
        <td>Описание</td>
        <td>{{news.description}}</td>
        {{#if difference.description}}
            <td>Новое описание новости</td>
            <td>{{difference.description}}</td>
        {{/if}}
    </tr>
    <tr>
        <td>Автор</td>
        <td>{{news.author}}</td>
        {{#if difference.author}}
            <td>Новый автор новости</td>
            <td>{{difference.author}}</td>
        {{/if}}
    </tr>
    <tr>
        <td>Ссылка на новость</td>
        <td>
            <a href='/news/{{news.id}}'>
                /news/{{news.id}}
            </a>
        </td>
    </tr>
</table>